html, body {
    background-color: slategray;
    color: gold;
}

.container {
    text-align: center;
    align-content: center;
}

img {
    max-width: 50px;
    height: auto;
    width: auto;
}

a {
    margin: 25px;
}

table {
    text-align: left;
    float: left;
}